body {
    background-color: black;
}

.wrapper {
    width: 650px;
    height: 650px;
    display: flex;
}

.container-one {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.display {
    flex-basis: 20%;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 89.69px;
    color: white;
    border-top: 1px solid white;
    border-left: 1px solid white;;
}

.file-one{
    flex-basis: 20%;
    display: flex;
    border: 1px solid white;
}

.file-two{
    flex-basis: 20%;
    display: flex;
    border: 1px solid white;
}

.file-three{
    flex-basis: 20%;
    display: flex;
    border: 1px solid white;
}
.file-four{
    flex-basis: 20%;
    display: flex;
    border: 1px solid white;
}
.file-five{
    flex-basis: 20%;
    display: flex;
    border: 1px solid white;
}

.file-one button{
    flex: 1;
}

.file-two button{
    flex: 1;
}

.file-three button{
    flex: 1;
}

.file-four button{
    flex: 1;
}

.file-five button{
    flex: 1;
}

.container-two {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.first button {
    height: 100%;
    width: 100%;
}
.second button {
    height: 100%;
    width: 100%;
}
.third button {
    height: 100%;
    width: 100%;
}

.container-three {
    flex-basis: 20%;
    height: 19.6%;
    border: 1px solid white;
}

.container-three button {
    font-size: 45px;
    height: 100%;
    width: 100%;
    border: 0.5px solid #828783;
}

button {
    font-size: 50px;
}

.up {
    flex-basis: 19.8%;
    display: flex;
}

.up button{
    width: 100%;
}

.down {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.column-one {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.first{
    flex-basis: 24.5%;
    border: 1px solid white;
}
.second {
    flex: 1;
    border: 1px solid white;
}
.third {
    flex-basis: 24.5%;
    border: 1px solid white;
}

.column-two {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.column-two button{
    flex: 1;
}